.background {
    background-image: url('./bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed; 
    top: 0; 
    left: 0; 
  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}